@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,500&display=swap');

.App {
    padding: 30px;
    display: inline-flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    width: 100%;
}

h4 {
    color: rgb(255, 255, 255);
}

.todoLists {
    display: flex;
    padding: 20px;
    border-radius: 15px;
}
.todoList {
    width: 350px;
    margin: 40px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 1);
}
.todoLists ul li {
    padding: 5px;
}
.filterButtons {
    margin: 10px;
}

.filterButtons button {
    margin: 5px;
}

.taskItem {
    display: flex;
    justify-content: space-between;
}
.error {
    border: red 1px solid;
}

.error-message {
    color: rgb(255, 0, 0);
}
.is-done {
    opacity: 0.5;
}
